@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.card-container {
  perspective: 1200px;
  width: 100%;
  height: 100px;
  position: relative;
}


.card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
  transform-origin: bottom;
}

.front-card, .back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  backface-visibility: hidden;
  
}


.front-card {
  background: black;
  color: white;
  z-index: 2;
  justify-content: start;
  transform: rotateX(0deg);
  transform-origin: bottom;
}

.back-card {
  background: #eeeeee;
  color: black;
  transform: rotateX(90deg);
  transform-origin: bottom;
  justify-content: space-evenly;
  top: -100%;
  z-index: 1;
}

.card-container:hover .card-wrapper {
  transform: rotateX(-45deg);
}





